
<div lass="login-form1" [formGroup]="form" style="text-align: center;">
  
  <h3>Echtzeit-Benzinpreis-API 
  Hier gibt es den einfachen übersicht zu den aktuellen Spritpreisen aller an die Markttransparenzstelle für Kraftstoffe (MTS-K) meldenden Tankstellen Deutschlands.</h3>

  <h4>bitte wähle eine Stadt aus oder tippe ein eine Stadt, wo du die Sprit-Preise (Benzin-Diesel) abfragen möchtest</h4>
<table>
 
  <tr>
    <td width="110px">Stadt auswählen  <label width="200">                                 </label>          </td>
<td>
  <mat-form-field>
    <mat-select placeholder="select Stadt" formControlName="cyties" (selectionChange)="selected($event)" [(value)]="ar1" >
        <ng-container *ngFor="let category of (myarr )">
            <mat-option [value]="category">{{category.name}}</mat-option>
        </ng-container>
    </mat-select>
  </mat-form-field>
</td>
<td>     oder Stadt eingeben</td>
<td>
  <mat-form-field style="text-align:left">        
    <input matInput  formControlName="city" class="example-full-width" style="text-align:left">
</mat-form-field>
</td>
</tr>
</table> 

 

</div>
   
<div>
    <button class="btn" (click)="loadbenzinPreise()">
      Tankerkoenig-Api Aufrufen
    </button>

  </div>
  <br>
  <h4 style="text-align: center;">dynamisch abgefragte Sprit-Preise für Stadt  {{strdefault}}</h4>
  <br>

  <div *ngFor="let item of myRoot1 "  width:500px style="text-align: center;">           
   
    {{item.name}} <br>
    
     {{item.brand}} <br>
     {{item.street}}   {{item.houseNumber}} <br>
     
     {{item.postCode}} {{item.place}} <br>
     
     <label> Geöfnet </label>  {{item.isOpen}}<br>

     <label> benzin e5 Preis: </label> {{item.e5}}  <label> EURO </label><br>
     <label> benzin e10 Preis: </label> {{item.e10}}  <label> EURO </label><br>
    <label> diesel Preis:  </label> {{item.diesel}} <label> EURO </label><br>
    
    <label>#####################################################################################################</label>
   
   
   </div>
   <div style="text-align: center;">
    <h4>oben sind die JSON-response-auswertungs dargestellt, unten sind die API-request's responses in JSON-format dargestellt</h4>
    {{str1}}
    <br>
    <br>
    <label>#####################################################################################################</label>
    <br>
    <br>
    {{str2}}
   </div>


  